/* Navbar */
.navbar-custom {
    background-color: #111;
    padding: 12px 0;
}

.nav_logo {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav_logo a {
    text-decoration: none;
    color: white;
}

.logo {
    width: 130px;
    height: auto;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.nav_right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #2a2a2a;
    padding: 8px 15px;
    border-radius: 30px;
    gap: 10px;
}

.search-box img {
    width: 18px;
    opacity: 0.6;
}

.search-box input {
    background: none;
    border: none;
    outline: none;
    color: white;
    width: 200px;
    height: 28px;
}

.search-box input::placeholder {
    color: #b5b5b5;
}

.nav_profile {
    background-color: #424242;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.nav_profile img {
    width: 33px;
}

/* Main */
main {
    background-color: #161616;
    color: white;
    padding-top: 40px;
}

.main_novel {
    padding: 40px 0;
    background: #161616;
    color: #fff;
}

.novel_head {
    text-align: center;
    margin-bottom: 30px;
}

.novel_title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #ffffff;
}

.novel_head img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(255,255,255,0.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.novel_author {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #d6d6d6;
}

.copyright {
    display: block;
    margin-top: 5px;
    color: #888;
    font-size: 11px;
}

.main_novel hr {
    border: none;
    height: 1px;
    background: #FFFFFF;
    margin: px 0;
}

.novel_body {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.chapter_title {
    font-size: 28px;
    font-weight: 700;
    color: #f6f6f6;
    margin-bottom: 25px;
    text-align: center;
}

.chapter_content {
    display: block;
    white-space: pre-line;
    font-size: 18px;
    color: #e3e3e3;
    text-align: justify;
}

.next_chapter_btn {
    text-align: center; 
    margin-top: 60px;
}

.next_chapter_link {
    background-color: #0056b3;
    color: white;
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.next_chapter_link:hover {
    background-color: #003d82;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    color: white;
}

.previous_chapter_btn {
    text-align: center; 
}

.previous_link {
    color: rgb(123, 123, 123);
    padding: 12px 28px;
    border-radius: 30px;
    font-size: 15px;
}

.previous_link:hover {
    color: white;
}

/*Footer */
.custom-footer {
    background: #6d6a6a;
    padding: 28px 34px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.custom-footer a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 150px;
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.footer-menu {
    display: flex;
    gap: 70px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}

.footer-right img {
    width: 22px;
    margin-left: 10px;
}

.close-icon {
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.footer-line {
    border: none;
    border-top: 1px solid #474646;
    margin: 25px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links a {
    margin: 0 8px;
    font-size: 13px;
}

.footer-copy {
    font-size: 12px;
    color: #cccccc;
}
mark{
    background-color: yellow;
}